@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.root {
    -fx-background-color: #212840;
}
.label{
    -fx-font-family: 'Raleway', sans-serif;
}
.button{
    -fx-background-color: #a0aed0;
    -fx-border-color: "white";
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 12;
}
.title{
    -fx-font-size: 22;

}
.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: white;
}
.combo-box  .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.combo-box .combo-box-popup .list-view{
    -fx-background-color: transparent;
    -fx-border-color: white;
}
.combo-box .combo-box-popup .list-cell:hover{
    -fx-background-color: #a0aed0;
    -fx-text-fill: black;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-font-family: 'Raleway', sans-serif;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}
.label-error {
    -fx-text-fill: white;
    -fx-font-size: 17;
}
